#accountContainer {
    position: relative;
    margin: auto;
    width: 100%;
}

#accountHeader {
    position: relative;
    background: #fff;
}

#accountPhotoContainer {
    height: 200px;
    position: relative;
}

    #coverPhoto {
        height: 100%;
        position: relative;
        background: #000066;
    }

    #coverInfo {
        position: absolute;
        bottom: 20px;
        left: 400px;
        color: #fff;
    }
        #coverInfo h3 {
            font-size: 1.3em;
            font-weight: 100;
        }

        #coverInfo p {
            font-size: 0.8em;
        }

#channelInfoContainer {
    width: 280px;
    min-height: 400px;
    position: fixed;
    top: 120px;
    background: #fff;
    -webkit-box-shadow: 0 0 10px #333333;
        box-shadow: 0 0 10px #333333;
    transform: translateX(20px);
}

.info-section {
    padding: 10px;
}

    .info-item {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .info-item-number {
        font-weight: 600;
    }

#profilePicture {
    background-color: #000;
    height: 200px;
}

#channelInformation {
    padding: 10px;
}

    #channelInformation h4 {
        color: #404040;
        font-size: 0.9em;
    }
    #channelInformation p {
        font-size: 0.8em;
        color: #777;
        line-height: 20px;
    }

#accountBody {
    position: absolute;
    width: 700px;
    padding: 20px 0;
    left: 360px;
    box-sizing: border-box;
}

    #accountBody .video-item {
        width: 700px;
    }

    #accountBody .video-thumbnail{
        width: 180px;
        margin-right: 10px;
    }

        #accountBody .video-item .video-desctiption{
            font-size: 0.8em;
        }
