html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

* {
    font-family: "helvetica";
}

header {
    position: relative;
    width: 100%;
    height: 80px;
    background: #fff;
    border-bottom: 1px solid #e6e6e6;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 5px 0;
}

a {
    text-decoration: none;
    color: #0099ff;
}

body {
    background: #f9f9f9 !important;
}

main {
    position: relative;
}

footer {
    position: relative;
    height: 100px;
    top: 80px;
    display: none;
}

.standard-border {
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}

.standard-header {
    color: #0099ff;
}

.container {
    position: relative;
    margin: auto;
    width: 80%;
    box-sizing: border-box;
    padding-top: 20px;
}

.no-top {
    padding: 0;
}

/* Video canvas */
.video-canvas {
    background: #fff;
    box-sizing: border-box;
    padding: 10px;
}

.canvas-footer {
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.canvas-header {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.justify-content {
    display: flex;
    justify-content: space-between;
}

.inline-block {
    display: inline-block;
}

/* Video items */
.video-item {
    box-sizing: border-box;
    padding: 5px;
    width: calc(20% - 4px);
    vertical-align: top;
    margin-bottom: 10px;
}

    .video-item:hover {
        cursor: pointer;
    }

    .video-item .tn-op {
        position: absolute;
        height: 100%;
        width: 100%;
        background: -webkit-linear-gradient(#000, #fff); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#000, #fff); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#000, #fff); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#000, #fff);
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
    }

        .video-item:hover .tn-op {
            opacity: 0.1;
        }

        .video-item:hover .video-title {
            color: #0099ff;
        }

.video-canvas-body {
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
}

/* Video layout */
.grid-style {
    display: inline-block;
    width: 20%;
    margin: 0;
}

.list-style {
    display: block;
    width: 450px;
    margin-right: 5px;
}
    .list-style .video-thumbnail {
        display: inline-block;
        width: calc(45% - 10px);
    }

    .list-style .video-info {
        display: inline-block;
        width: 55%;
        vertical-align: top;
    }
        .list-style .video-info .video-title {
            white-space:normal;
            text-overflow:inherit;
        }

.video-thumbnail {
    width: 100%;
    height: 113px;
    display: block;
    border: 1px solid;
    position: relative;
}

.video-info {
    display: block;
    color: #999;
}

.video-title {
    font-size: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #404040;
}

p.small {
    font-size: 0.8em;
}

.btn {
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-blue {
    color: #fff;
    background: #0099ff;
}
    .btn-blue:hover {
        background: #0099cc;
    }
.btn-default:hover {
    background: #cccccc;
}

.category-title,
.canvas-header h3 {
    color: #0099ff;
    font-size: 1.1em;
    margin-left: 5px;
}

.centre-text {
    text-align: center;
}

.list-nav a {
    display: block;
    padding: 10px 10px;
}
    .list-nav a:hover {
        background: #f8f8f8;
    }

/* Forms */

form label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}

textarea {
    resize: vertical;
}

.form-header {
    margin-bottom: 50px !important;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    box-sizing: border-box;
    display: inline-block;
    padding: 8px;
    width: 100%;
}

select.form-control {
    width: auto;
}

.canvas {
    background: #fff;
    padding: 10px;
}

.heading {
    margin-bottom: 20px;
}
