.container {
    height: calc(100vh - 290px);
}

#uploadBasicContainer {
    padding: 20px 20px 0 20px;
    background: #fff;
}

    #uploadBasicContainer label {
        display: block;
    }

    #uploadBasicContainer form {
        padding: 16px 20px 0 0;
    }

#uploadInfoFormWrapper {
    display: inline-block;
    width: 50%;
}

#uploadThumbnailWrapper {
    padding: 10px 10px 10px 0;
    display: inline-block;
    vertical-align: top;
    width: 49%;
    box-sizing: border-box;
}

#uploadContainer {
    position: absolute;
    display: inline-block;
    width: 500px;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#uploadContainer p {
    color: #5c5c5c;
    text-align: center;
    font-size: 0.9em;
    margin-top: 20px;
}

#uploadForm {
    position: relative;
    box-sizing: border-box;
    background: #fff;
    padding: 20px;
}

#uploadForm button {
    font-size: 1.1em;
    width: 100%;
}

.logo-background {
    background: #0099ff;
    display: inline-block;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    position: relative;
}

.initial {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 3em;
	font-style: normal;
	font-variant: normal;
	font-weight: 600;
	line-height: 26.4px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
    color: #fff;
}

#videoFileUpload {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#videoFileUpload + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: #0099ff;
    display: inline-block;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
}

#videoFileUpload:focus + label,
#videoFileUpload + label:hover {
    background-color: #0099cc;
}

#uploadBtnContainer {
    display: none;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

#previewImage {
    border: 1px solid;
    height: 250px;
    width: 100%;
}

#previewImageTable {
    padding: 10px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.small-thumbnails {
    border: 1px solid;
    width: 75px;
    height: 45px;
    margin-bottom: 10px;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
}

.small-thumbnails.selected {
    border-color: #0099ff;
}
.small-thumbnails.noselect {
    cursor:not-allowed;
}

#uploadBasicFooter {
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    border-top: 1px solid #e6e6e6;
}
    #uploadBasicFooter button {
        margin: 0 10px;
    }

/**************************************
Schedule publishing
**************************************/
#schedulePublishForm {
    position: relative;
    margin: auto;
    width: 550px;
    background: #fff;
    padding: 20px 20px 10px 20px;
    box-sizing: border-box;
}

#uploadScheduleFooter {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}
    #uploadScheduleFooter input {
        margin-left: 10px;
    }
